.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}
.lobby{
    position:absolute;
    top:0;
    left:50%;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    text-align: center;
    visibility:hidden;
    transition:transform 0.4s,top 0.4s;
}
.lobby_present{
    position: absolute;
    top:50%;
    transform: translate(-50%,-50%) scale(1);
    text-align:center;
    padding:0 30px 30px;
    visibility:visible;
}
/* cursor:pointer */